@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'material-icons/iconfont/material-icons.css';

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.scroller {
  /* Default scrollbar settings for all browsers */
  --scrollbar-width: thin;

  /* Webkit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
 
}

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Sesuaikan dengan kebutuhan Anda */
    border-radius: 10px; /* Sesuaikan dengan kebutuhan Anda */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Sesuaikan dengan kebutuhan Anda */
  }
}

@supports (scrollbar-width: thin) {
  .scroller {
    scrollbar-width: var(--scrollbar-width);
  }
}


body *{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.slide-door-enter-active,
.slide-door-leave-active {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

/* Geser dari kanan ke kiri saat masuk */
.slide-door-enter-from {
  transform: translateX(5%);
  /*Mulaidiluarlayardisebelahkanan*/opacity: 0;
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  -o-transform: translateX(5%);
}

/* Geser dari kiri ke kanan saat keluar */
.slide-door-leave-to {
  transform: translateX(5%);
  /*Geserkeluarlayarkekiri*/opacity: 0;
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  -o-transform: translateX(5%);
}

.expand-enter-active,
.expand-leave-active {
  transition: max-height .5s ease;
  max-height: 400px;
}

.wipe-up-enter-active, .wipe-up-leave-active {
  transition: transform 0.5s ease; /* Ubah properti dan durasi sesuai kebutuhan */
}
.wipe-up-enter, .wipe-up-leave-to {
  transform: translateY(0); /* Sesuaikan nilai transform dengan animasi yang diinginkan */
}
.wipe-up-enter-to, .wipe-up-leave {
  transform: translateY(-100%); /* Sesuaikan nilai transform dengan animasi yang diinginkan */
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}

.masuk-enter-active{
  transition: opacity 0.5s ease;
}

.masuk-leave-active {
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.masuk-enter-from,
.masuk-leave-to {
  opacity: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.slide-top-enter-from {
    transform: translate3d(0%, 100%, 0);
    -webkit-transform: translate3d(0%, 100%, 0);
    -moz-transform: translate3d(0%, 100%, 0);
    -ms-transform: translate3d(0%, 100%, 0);
    -o-transform: translate3d(0%, 100%, 0);
}
.slide-top-leave-to {
  transform: translate3d(0%, 100%, 0);
  -webkit-transform: translate3d(0%, 100%, 0);
  -moz-transform: translate3d(0%, 100%, 0);
  -ms-transform: translate3d(0%, 100%, 0);
  -o-transform: translate3d(0%, 100%, 0);
}

.slide-top-leave-from {
    transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -o-transform: translate3d(0%, 0%, 0);
}


.slide-right-enter-active,
.slide-right-leave-active {
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.slide-right-enter-from {
    transform: translate3d(100%, 0%, 0);
    -webkit-transform: translate3d(100%, 0%, 0);
    -moz-transform: translate3d(100%, 0%, 0);
    -ms-transform: translate3d(100%, 0%, 0);
    -o-transform: translate3d(100%, 0%, 0);
}

.slide-right-leave-from {
    transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -o-transform: translate3d(0%, 0%, 0);
}

.slide-right-leave-to {
    transform: translate3d(100%, 0%, 0);
    -webkit-transform: translate3d(100%, 0%, 0);
    -moz-transform: translate3d(100%, 0%, 0);
    -ms-transform: translate3d(100%, 0%, 0);
    -o-transform: translate3d(100%, 0%, 0);
}


.slide-kanan-enter-active,
.slide-kanan-leave-active {
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.slide-kanan-enter-from {
    transform: translate3d(100%, 0%, 0);
}

.slide-kanan-leave-to,
.slide-kanan-leave-from {
    transform: translate3d(0%, 0%, 0);
}

.slide-kanan-leave-to {
    transform: translate3d(-100%, 0%, 0);
}


.slide-bawah-enter-active,
.slide-bawah-leave-active {
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.slide-bawah-enter-from {
    transform: translate3d(0%, -100%, 0); /* Ubah nilai Y ke -100% untuk slide down */
}

.slide-bawah-leave-to,
.slide-bawah-leave-from {
    transform: translate3d(0%, 0%, 0);
}

.slide-bawah-leave-to {
    transform: translate3d(0%, 100%, 0); /* Ubah nilai Y ke 100% untuk slide down */
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panWrapper {
  width: 200px;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
}

.pan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  animation: cooking 1.7s infinite;
}
@keyframes cooking {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-4deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.food {
  position: absolute;
  width: 40%;
  height: 6px;
  background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
  left: 10px;
  border-radius: 50%;
  animation: flip 1.7s infinite;
  z-index: 2;
}
@keyframes flip {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
.panBase {
  z-index: 3;
  width: 50%;
  height: 22px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
}
.panHandle {
  width: 40%;
  background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
  height: 10px;
  border-radius: 10px;
}
.panShadow {
  width: 70px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.21);
  margin-left: 15px;
  border-radius: 10px;
  animation: shadow 1.7s infinite;
  filter: blur(5px);
}
@keyframes shadow {
  0% {
    transform: scaleX(0.7);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.7);
  }
}